html {
	overflow-y: hidden;
}

body {
	padding: 50px 45px;
	line-height: 1.75;
	font-size: 1em;
	color: $dark-grey;
	font-family: 'Lato', sans-serif;

	@include media($tablet) {
		font-size: 0.9em;
	}
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
}

.body__border--top, .body__border--right, .body__border--bottom, .body__border--left {
	display: block;
	position: fixed;
	background: $dark-grey;
	z-index: 9;
}

.body__border--top, .body__border--bottom {
	width: 100%;
	height: 15px;
	left: 0;
}

.body__border--top {
	top: 0;
}

.body__border--bottom {
	bottom: 0;
}

.body__border--right, .body__border--left {
	height: 100%;
	width: 15px;
	top: 0;
}

.body__border--right {
	right: 0;
}

.body__border--left {
	left: 0;
}