.directions__popup {
    position: fixed;
    top:100%;
    left:0;
    width:100%;
    height: 100%;
    background: rgba($dark-grey, .9);
    z-index: 999;
}

.directions__popup__form {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:30px;
    background: #fff;
    text-align: center;
    width:95%;
    max-width: 400px;

}

.directions__popup__form__label {
     font-size: 1.5em;
}

.directions__popup__form__input {
    display: block;
    width: 100%;
    margin:30px 0;
    padding: 10px 15px;
}

.directions__popup__close {
    @extend %tran;
    padding: 45px;
    cursor: pointer;
}

.directions__popup__close__line {
    @extend %tran;
    display: block;
    background: #fff;
    height:2px;
    width: 30px;
    margin-bottom: -2px;
}

.directions__popup__close__line--1 {
    transform: rotate(45deg);
}

.directions__popup__close__line--2 {
    transform: rotate(-45deg);
}

.directions__popup__close__line--3 {
    transform: rotate(-45deg);
}

.directions__popup__close:hover {
    .directions__popup__close__line--1 {
        transform: rotate(45deg) translate(3px, 7px);
        width:20px;
    }

    .directions__popup__close__line--2 {
        transform: rotate(-45deg) translate(2px,14px);
        width:20px;
    }

    .directions__popup__close__line--3 {
        transform: rotate(-90deg) translate(5px,-5px);
        width: 40px;
    }
}

.directions__popup__close:active {
    .directions__popup__close__line {
        background: $blue;
    }
}
