.intro {
	@extend %vertical-padding-large;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100%;
	max-width: 100%;
	transform: translate(-50%, -50%);
	text-align: center;

	.intro__image {
		position: relative;
		top: 100vh;
		max-width: 100%;
	}

	.intro__title {
		text-transform: uppercase;
		margin-top: 80px;

		span {
			opacity: 0;
		}
	}
}

@media screen and (max-width: 800px), screen and (max-height: 800px) {
	.intro__image {
		max-height: 200px;
		width: auto;
	}

	.intro__title {
		margin-top: 20px;

		span {
			display: block;
			width: 100%;
			margin: 15px 0;
		}

		.intro__title--stop {
			display: none;
		}
	}
}

.content {
	position: relative;
	top: 100vh;
	padding: 0;

	.content__container {
		@include outer-container(1000px);
		background-color: #fff;
		background-color: rgba(255,255,255,0.9);
		box-shadow: 0px 0px 10px 2px rgba(42,42,42,0.2);
		min-height: 100vh;
		padding:50px 45px;

		h1,h2,h3,h4,h5,h6 {
			// color: $blue;
			border-left: solid 5px $blue;
			margin-left: -45px;
			padding-left:40px;
		}



	}

	.content__aside {
		box-shadow: 0px 0px 10px 2px rgba(42,42,42,0.2);
		background-color: #fff;
		// background-color: rgba(255,255,255,0.9);
		position: fixed;
		top:15px;
		right:-400px;
		padding: 50px;
		height: 100%;
		display: inline-block;
		overflow-y: auto;

		@include media(max-width 1000px) {
			position: relative;
			top:0;
			right:0!important;
			width:100%;
		}

	}

	.content__aside__item {
		padding: 0;
		border-bottom: solid 1px darken($light-grey, 10%);
		height:175px;
		width: 175px;

		@include media(max-width 1000px){
			width:100%;
		}
	}

	.content__aside__item__link {
		display: block;
		cursor: pointer;
		padding:40px 0;
		position: relative;
		height: 100%;
		width: 100%;

		@extend %tran;

		&:hover {
			.content__aside__item__image {
				opacity: 0;
			}

		.content__aside__item__text {
			opacity: 1;
			}
		}
	}

	.content__aside__item__text {
		width:100%;
		@extend %tran;
		display: block;
		position: absolute;
		top:50%;
		left:0;
		transform: translateY(-50%);
		opacity: 0;
		font-size: 1.5em;
		text-align: center;
		color:$blue;
		margin: 0;
		padding: 0;
		line-height: 1.5;
	}

	.content__aside__item__image {
		@extend %tran;
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
		max-width: 175px;
		max-height: 130px;
	}

	.content__aside__item--last {
		border-bottom: none;
	}
}
